.profile-thumbnail {
  position: absolute;
}

.profile-header {
  min-height: 260px;
  margin-left: 280px;
}

.posts {
  list-style-type: none;
  padding: 0px;
  margin: 16px 0px 0px 0px;
  border-top: 1px solid #e0e0e0;
}

.post {
  padding: 8px;
  border-bottom: 1px solid #e0e0e0;
}

.post-date {
  float: right;
}

.post-author {
  font-weight: bold;
}

.post-thumbnail {
  position: absolute;
}

.post-content {
  margin-left: 48px;
  min-height: 48px;
}

#button-delete {
  padding-top: 7px;
}

[hidden] {
  display: none !important;
}

.submit-btn {
  paddint-top: 15px;
}

.log-button {
  padding-top: 8px;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
