{% extends "answer_base.html" %} {% block title %} Answer a Survey {% endblock %} {% block page_content %}
<div class="container">
    <div class='row'>
        <h3 class="center-align">
            {{ survey.description }}
        </h3>
        <h5 class="center-align">{{ survey.course }} survey</h5>
        <h5>Questions: </h5>
    </div>

    <form method="post">
        <div>
            {% for question in survey.questions.all() %}
            <div class='row question'>
                <h5>
                    {{ question.description }}
                </h5>
                {% if question.q_type == 1 %}
                <div class="row center-align">
                    {% for choice in question.choices %}
                    <div class="col s2">
                        <input class="validate" required="" name="{{ question.id }}" type="radio" id="{{ question.id }}{{ choice.id }}" value="{{ choice.content }}"
                        />
                        <label for="{{ question.id }}{{ choice.id }}">{{ choice.content }}</label>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% endfor %}

            <div class="center-align row">
                <button class="btn btn-default" id="sub" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}