{% extends "answer_base.html" %} {% block title %} Answer a Survey {% endblock %} {% block page_content %}
<div class="container">
    <div class='row'>
        <h3 class="center-align">
            {{ survey.description }}
        </h3>
        <h5 class="center-align">{{ survey.get_course_code() }} survey</h5>
    </div>

    <form method="post">
        <div>
        <h5>Mandatory questions: </h5>
            {% for question in questions_man %}
            <div class='row question'>
                <h5>
                    {{ question.description }}
                </h5>
                {% if question.q_type == 1 %}
                <div class="row center-align">
                    {% for choice in question.choices %}
                    <div class="col s2">
                        <input class="validate" required="" name="{{ question.id }}" type="radio" id="{{ question.id }}{{ choice.id }}" value="{{ choice.content }}"/>
                        <label for="{{ question.id }}{{ choice.id }}">{{ choice.content }}</label>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}

                {% if question.q_type == 2 %}
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="{{ question.id }}" required="" class="materialize-textarea" name="{{ question.id }}"></textarea>
                      <label for="{{ question.id }}">Textarea</label>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endfor %}

        <h5>Optional questions: </h5>
            {% for question in questions_opt%}
            <div class='row question'>
                <h5>
                    {{ question.description }}
                </h5>
                {% if question.q_type == 1 %}
                <div class="row center-align">
                    {% for choice in question.choices %}
                    <div class="col s2">
                        <input name="{{ question.id }}" type="radio" id="{{ question.id }}{{ choice.id }}" value="{{ choice.content }}"/>
                        <label for="{{ question.id }}{{ choice.id }}">{{ choice.content }}</label>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}

                {% if question.q_type == 2 %}
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="{{ question.id }}" class="materialize-textarea" name="{{ question.id }}"></textarea>
                      <label for="{{ question.id }}">Textarea</label>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endfor %}

            <div class="center-align row">
                <button class="btn btn-default" id="sub" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
