
<head>
    <meta charset="utf-8">
    <title>Group HD</title>
    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"> -->
    <!-- <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon"> -->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.css') }}"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

</head>

<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Group HD</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li>
                    <a href="{{ url_for('main.create_survey') }}">Create a Survey</a>
                </li>
                <li>
                    <a href="{{ url_for('main.create_question') }}">Create a Question</a>
                </li>
                <li>
                    <a href="{{ url_for('main.question_pool') }}">Question Pool</a>
                </li>
                {% if current_user.is_authenticated %}
                <li>
                    <a href="{{ url_for('main.user', id=current_user.id) }}">User</a>
                </li>
                {% endif %}

            </ul>
            <div class="nav navbar-nav navbar-right">
                <div class="log-button">
                    {% if current_user.is_authenticated %}
                    <a type="button" class="btn btn-info" href="{{ url_for('auth.logout') }}">Sign Out</a> {% else %}
                    <a type="button" class="btn btn-info" href="{{ url_for('auth.login') }}">Sign In</a> {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %} {% endblock %}
</div>
{% endblock %}

</div>
