{% extends "base.html" %}
{% block page_content %}

<script type="text/javascript">
    $(document).ready(function() {
        $(".select").select2();
    });
</script>

<form action="" method="post" accept-charset="utf-8">
    <div class="text-center">
        <p>Choose a Course:</p>
        <select name="course" id="course form-control" class="select input-large">
            {% for course in courses %}
            <option value="{{ course }}">{{ course }}</option>
            {% endfor %}
        </select>
    </div>
    <br />
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <input class="form-control" type="text" name="title" id="title" value="" placeholder="Enter the title of the survey" required/>
        </div>
    </div>

    <br />
    <div class="text-center row">
        <button class='btn btn-default' id="" type="submit"> submit </button>
    </div>

</form>
{% endblock %}
