{% extends "base.html" %} {% block title %} Create a Survey {% endblock %} {% block head %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/drag.css') }}" />
<script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js'></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" /> {% endblock head %} {% block page_content %}

<div class="col-md-12 row box box-primary">
    <form action="" method="post" accept-charset="utf-8">
        <div class="text-center row">
            <p>Choose a Course:</p>
            <select name="course" id="course form-control" class="select input-large">
                {% for course in courses %}
                {% if course == selected_course %}
                <option selected="selected">{{ selected_course }}</option>
                {% else %}
                <option value="{{ course }}">{{ course }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <br />

        <div class="row">
            <div class="col-md-12">
                <div class="row text-center">
                    <p>Enter title</p>
                </div>
                <input class="form-control input-box" type="text" name="title" id="title" value="{% if survey %}{{ survey.description }}{% endif %}" placeholder="Enter the title of the survey" required/>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row text-center">
                <p>Select time</p>
            </div>
            <div class="row">
                <input class="form-control text-center" type="text" name="choose_date" value="{% if times %}{{times}}{% endif %}" id="choose_date" placeholder="Choose the start date">
            </div>
        </div>

        <div class="row">
            <div class="text-center col-md-12">
                <p>Select questions to add to the survey</p>
                <br />
            </div>

            <div class="col-sm-6">
                <input type="text" name="search" value="" id="search" class="search-box form-control input-box" placeholder="Search...">
            </div>
        </div>

        <div class="row refresh">
            <div class="row drag-wrapper gu-unselectable col-md-12">
                <div class="col-md-6 drag-container drag-box" id='left'>
                    {% for question in questions %}
                    <div id="selections" value="{{ question.id }}">{{ question.description }}</div>
                    {% endfor %}
                </div>

                <div class="col-md-6 drag-container drag-box" id='right'>
                    {% for question in selected_questions %}
                    <div id="selections" value="{{ question.id }}">{{ question.description }}</div>
                    {% endfor %}
                </div>
            </div>

        </div>

        <!-- Large modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".add_question">Add a Question</button>


        <div class="row text-center col-md-12">
            <br />
            <button id="sub" type="submit" class="btn btn-primary" onclick="DoSubmit()">Submit</button>
        </div>
        <input name="questions" id="questions" value=""></input>
    </form>
</div>

<div class="modal fade add_question" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="create_question" action="" method="POST" accept-charset="utf-8">
                <div class="row">
                    <div class="text-center">
                        <p>Choose a question type:</p>
                        <select name="q_type" id="q_type" class="select input-large">
                            <option value="1">Multiple choices</option>
                            <option value="2" disabled="disabled">Checkboxes (disabled)</option>
                            <option value="3" disabled="disabled">Drop-down menus (disabled)</option>
                            <option value="4" disabled="disabled">Short answers (disabled)</option>
                            <option value="5" disabled="disabled">Paragraphs (disabled)</option>
                        </select>
                    </div>

                    <br></br>

                    <div class="col-md-12">
                        <input class="form-control" type="text" name="title" id="title" value="" placeholder="What is the title of your question?" required/>
                    </div>

                    <br></br>
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-center">Choices</h4>
                            <div id="1" class="group ">
                                <div class="col-md-4">
                                    <div class="box box-default">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Choice</h3>
                                            <div class="box-tools pull-right">
                                                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                            </div>
                                            <!-- /.box-tools -->
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                            <input type="text" name="choice" value="Very Strongly Agree" id="choice" class="form-control ">
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <!-- /.box -->
                                </div>

                                <div class="col-md-4">
                                    <div class="box box-default">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Choice</h3>
                                            <div class="box-tools pull-right">
                                                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                            </div>
                                            <!-- /.box-tools -->
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                            <input type="text" name="choice" value="Strongly Agree" id="choice" class="form-control ">
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <!-- /.box -->
                                </div>

                                <div class="col-md-4">
                                    <div class="box box-default">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Choice</h3>
                                            <div class="box-tools pull-right">
                                                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                            </div>
                                            <!-- /.box-tools -->
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                            <input type="text" name="choice" value="Agree" id="choice" class="form-control ">
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <!-- /.box -->
                                </div>

                                <div class="col-md-4">
                                    <div class="box box-default">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Choice</h3>
                                            <div class="box-tools pull-right">
                                                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                            </div>
                                            <!-- /.box-tools -->
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                            <input type="text" name="choice" value="Disagree" id="choice" class="form-control ">
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <!-- /.box -->
                                </div>

                                <div class="col-md-4">
                                    <div class="box box-default">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Choice</h3>
                                            <div class="box-tools pull-right">
                                                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                            </div>
                                            <!-- /.box-tools -->
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                            <input type="text" name="choice" value="Strongly Disagree" id="choice" class="form-control ">
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <!-- /.box -->
                                </div>

                                <div class="col-md-4">
                                    <div class="box box-default">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">Choice</h3>
                                            <div class="box-tools pull-right">
                                                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                            </div>
                                            <!-- /.box-tools -->
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                            <input type="text" name="choice" value="Very Strongly Disagree" id="choice" class="form-control ">
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <!-- /.box -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class='row text-center col-md-12'>
                <button type="submit" id="submit_form" class='btn btn-primary' onclick="create_question()">Submit</button>
                <br></br>
            </div>
        </div>
    </div>
</div>


<script charset="utf-8">
    dragula([$("#left").get(0), $("#right").get(0)]);
    dragula([$(".group").get(0)]);
</script>

<script charset="utf-8">
    $('#choose_date').daterangepicker({
        timePicker: true,
        timePickerIncrement: 30,
        locale: {
            format: 'DD/MM/YYYY h:mm A'
        },
        opens: "center",
    });
</script>

<script charset="utf-8">
    function DoSubmit() {
        var a = $('#right').children();
        var b = [];
        for (var i = 0; i < a.length; i++) {
            b.push(a[i].getAttribute('value'));
        }
        $('#questions').attr('value', b);
    }
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $(".select").select2();
    });
</script>

<script id="funcc" charset="utf-8">
    function create_question() {
        var postData = $('#create_question').serializeArray();
        var right = document.getElementById('right');
        $.ajax({
            url: '/api_1_0/create_question',
            type: "POST",
            data: postData,
            success: function(data, textStatus, jqXHR) {
                $(".modal").modal('toggle');
                $(".refresh").load(location.href + " .drag-wrapper", function() {
                    copy_chlidren(right);
                    $(".modal-lg").load(location.href + " .modal-content", function() {
                        remove_dup();
                        $("#funcc").load(location.href + " #funcc", function() {
                            dragula([$("#left").get(0), $("#right").get(0)]);
                            dragula([$(".group").get(0)]);
                        });
                    });
                });
            },
            error: function(jqXHR, status, error) {
                console.log(status + ": " + error);
            }
        });
    };

    function remove_dup() {
        var left = $('#left').children();
        var right = $('#right').children();
        for (var i = 0; i < left.length; i++) {
            for (var j = 0; j < right.length; j++) {
                if (left[i].getAttribute('value') === right[j].getAttribute('value')) {
                    left[i].remove();
                    break;
                }
            }
        }
    }

    function copy_chlidren(right) {
        new_right = document.getElementById('right');
        while(new_right.hasChildNodes()){
            new_right.removeChild(new_right.lastChild);
        }
        while (right.childNodes.length > 0) {
            new_right.appendChild(right.childNodes[0]);
        }
    }
</script>


<script charset="utf-8">
    if (!RegExp.escape) {
        RegExp.escape = function(s) {
            return s.replace(/[\-\[\]{}()*+?.,\\\^$|#\s]/g, "\\$&")
        };
    }

    jQuery(function() {
        var $rows = $('#left').children();
        $('#search').keyup(function() {
            var regex = new RegExp(RegExp.escape($.trim(this.value).replace(/\s+/g, ' ')), 'i')
            $rows.hide().filter(function() {
                var text = $(this).text().replace(/\s+/g, ' ');
                return regex.test(text)
            }).show();
        });
    });
</script>
{% endblock %}
