{% extends "base.html" %}
{% block title %}
Create Question
{% endblock %}
{% block page_content %}

<script type="text/javascript">
  $(document).ready(function() {
    $(".select").select2();
  });
</script>

<form action="" method="post" accept-charset="utf-8">
  <div class="">
    <div class="text-center row">
      <p>Choose a question type:</p>
      <select name="q_type" id="q_type" class="select input-large">
        <option value="1">Multiple choices</option>
        <option value="2" disabled="disabled">Checkboxes (disabled)</option>
        <option value="3" disabled="disabled">Drop-down menus (disabled)</option>
        <option value="4" disabled="disabled">Short answers (disabled)</option>
        <option value="5" disabled="disabled">Paragraphs (disabled)</option>
      </select>
    </div>
    <br />
    <div class="row">
      <input class="form-control" type="text" name="title" id="title" value="" placeholder="What is the title of your question?" required/>
    </div>
    <br />
    <div class='text-center'>
      <button id="" type="submit" class='btn btn-primary'>Submit</button>
    </div>
  </div>
</form>
{% endblock %}
