{% extends "base.html" %}
{% block title %}
Home
{% endblock %}
{% block page_content %}
<body>
    <div align="center">
        {% if current_user.is_authenticated %}
        <p>There is a total of {{survey_count}} surveys created so far.</p>
        <p>There is a total of {{response_count}} response(s) submitted so far.</p>
        <a href="{{ url_for('main.create_survey') }}" class="btn btn-primary btn-index">Create a survey</a>
        {% else %}
        <h2>Welcome to the BOTS Survey Management System</h2>
        <p>Please click the button below to login or register.</p>
        <a href="{{ url_for('auth.login') }}" class="btn btn-primary btn-index">Login/Register</a>
        {% endif %}
    </div>
</body>
{% endblock %}
