{% extends "base.html" %}
{% block page_content %}

<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('#multiselect').multiselect({
            search: {
                left: '<input type="text" name="q" class="form-control" placeholder="Search..." /></br>',
                right: '<input type="text" name="q" class="form-control" placeholder="Search..." /></br>',
            },
            fireSearch: function(value) {
                return value.length > 1;
            },
            keepRenderingSort: true,
        });
    });
</script>

<form  method="post">
    <div class="col-md-2">
    </div>

    <div class="col-md-8">
        <div class="row">
            <input class="form-control" type="text" name="title" id="title" value="{{ survey.description }}" placeholder="Enter the title of the survey" required/>
        </div>

        <div class="text-center">
            <h3>Choose questions for the survey</h3>
            <br />
        </div>
        <div class='text-center'>

            <div class="row">
                <div class="col-sm-5">
                    <select name="from[]" id="multiselect" class="form-control" size="8" multiple="multiple">
                        {% for question in questions %}
                        <option value="{{ question.id }}">{{ question.description }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-sm-2">
                    <br />
                    <br />
                    <br />
                    <button type="button" id="multiselect_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
                    <button type="button" id="multiselect_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
                    <button type="button" id="multiselect_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
                    <button type="button" id="multiselect_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
                </div>

                <div class="col-sm-5">
                    <select name="to[]" id="multiselect_to" class="form-control" size="8" multiple="multiple">
                        {% for question in survey.questions.all()%}
                        <option value="{{ question.id }}">{{ question.description }}</option>
                        {% endfor %}
                    </select>

                    <div class="row">
                        <div class="col-sm-6">
                            <button type="button" id="multiselect_move_up" class="btn btn-block"><i class="glyphicon glyphicon-arrow-up"></i></button>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" id="multiselect_move_down" class="btn btn-block col-sm-6"><i class="glyphicon glyphicon-arrow-down"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <button id="sub" type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>

    <div class="col-md-2">
    </div>

</form>
{% endblock %}
