{% extends "base.html" %}
{% block page_content %}

<div class='page-header'>
    <h1>{{ current_user.username }}</h1>
    <div class='posts'>
        {% for question in questions%}
        <div class='post row'>
            <div class='col-md-10'>
                <div class="post-content">

                    <div class="post-author">
                        <a href="{{ url_for('.user', id=question.owner_id) }}">{{ question.owner.username }}</a>
                        <p>
                        {{ question.description }}
                        </p>
                    </div>

                </div>
            </div>
            <div class="col-md-1" id="button-delete">
                <a type="button" class="btn btn-danger" href="{{ url_for('main.delete_question', id=question.id) }}">Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <br/>
    <div align="center">
        <a href="{{ url_for('main.create_question') }}" class="btn btn-primary">Add a question</a>
    </div>

</div>

{% endblock %}
