{% extends "base.html" %} {% block title %} Survey Result {% endblock %} {% block page_content %}

<div>
    <h2 class="text-center">Survey result of: {{ survey.description }}</h2>
    <h5 class="text-center">This survey is for {{ survey.course }}</h5>
    <br />
    {% if answer_survey_link %}
    {% for question in survey.questions %}
    <div class="row">
        <hr />
        <div class="text-center col-sm-12">
            <canvas id="responseChart{{ question.id }}" width="440" height="440" style="width: 400px; height: 400px;"></canvas>
        </div>
    </div>
    <br /> {% endfor %} {% for an_answer_of_survey in answer_survey_link %}
    <div class="result-body">
        <h5 class="text-center">
            {% with owner = an_answer_of_survey.owner.username %} Answer given by : {% if owner %}{{ owner }}{% else %}Anonymous User{% endif %} {% endwith %}
        </h5>
        {% for question, answer in zip(survey.questions.all(), an_answer_of_survey.answers.all())%}
        <p class="result-detail">
        {{ question.description }} : {{ answer.content }}
        </p>
        {% endfor %}
    </div>
    {% endfor %}
    <div class="row text-center">
        <a class="btn btn-info" href="{{ url_for('main.download_csv', filename=str(survey.id)+'.csv')}}">Download result</a>
    </div>
    {% else %}
    <h3>There doesn't seem to be any responses yet, come back later!</h3>
    {% endif %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
{% for question in survey.questions %}
<script charset="utf-8">
    var colors = ['#C5CAE9', '#9FA8DA', '#304FFE', '#283593', '#3949AB', '#1A237E', '#7986CB', '#5C6BC0', '#536DFE', '#8C9EFF', '#E8EAF6', '#303F9F', '#3F51B5', '#3D5AFE'];
    $(function() {
        $.getJSON("/api/v1.0/get_answer_data/type1/{{ survey.id }}/{{ question.id }}", function(data) {
            if (!data.success) {
                ctx.font = "20px sans serif";
                ctx.fillText("Error fetching poll data.", 20, 50);
                return;
            }

            var data3 = {
                datasets: [{
                    data: [],
                    backgroundColor: [],
                }],

                labels: []
            };
            for (var i = 0; i < data.result.length; i++) {
                data3.datasets[0].data.push(data.result[i].value);
                data3.datasets[0].backgroundColor.push(colors[i % colors.length]);
                data3.labels.push(data.result[i].label);
            };
            console.log(data3);
            var options = {
                legend: {
                    display: true,
                    position: 'left',
                },
                title: {
                    display: true,
                    text: 'Question: {{ question.description }}',
                    padding: 10,
                    fontSize: 24,
                },

            };
            var ctx = document.getElementById("responseChart{{ question.id }}").getContext("2d");
            var pieChart = new Chart(ctx, {
                type: 'doughnut',
                data: data3,
                options: options,
            })
        });
    });
</script>
{% endfor %} {% endblock %}
