{% extends "base.html" %}
{% block page_content %}

<h2 class="text-center">Survey result of: {{ survey.description }}</h2>

{% for an_answer_of_survey in answer_of_survey %}
<div class="result-body">
    <h5 class="text-center">
        Answer given by : {{ an_answer_of_survey.owner.username }}
    </h5>
    {% for question, answer in zip(survey.questions.all(), an_answer_of_survey.answers.all())%}
    <p class="result-detail">
    {{ question.description }} : {{ answer.content }}
    </p>
    {% endfor %}
</div>
{% endfor %}

<div class="row text-center">
    <a class="btn btn-info" href="{{ url_for('main.download_csv', filename=str(survey.id)+'.csv')}}">Download result</a>
</div>
{% endblock %}
